body{
    
    background-color: rgb(252, 249, 249);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    



}

h1{
    background-color: rgb(108, 154, 253);
    color: rgb(255, 254, 254);
    border: 2px solid rgb(253, 251, 251);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    

}







div{background-color: rgb(108, 154, 253);
    border: 2px solid rgb(253, 251, 251);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    


}


